.navbar {
    background-size: cover;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.navbar-toggler {
    border: none;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    color: #fff;
}

.dropdown-menu {
    background-color: #2e2e2e;
    border: none;
}

.dropdown-item {
    color: #e0e0e0;
}

.dropdown-item:hover {
    color: #fff;
}