body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

main {
  padding: 20px;
}

main .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.animated-article {
  opacity: 0;
  transform: translateY(20px);
}

.article1, .article2, .article3 {
  transition: opacity 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.article-visible {
  opacity: 1;
  transform: translateY(0);
}

.article-content {
  display: none;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.animated-article {
  position: relative;
}

.animated-article:hover .article-content {
  display: block;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}

.intro-section {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.down-arrow {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.down-arrow:hover {
  color: var(--link-hover-color);
  transform: scale(1.2);
  transition: transform 0.2s, color 0.2s;
}

.animated-article + .down-arrow {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content h4 {
  margin: 10px 0;
  font-size: 1.2em;
}

.social-icons a {
  font-size: 1.5em;
  margin-right: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ffc107;
}

@media (max-width: 767px) {
  .article-container {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .article-container {
    margin-bottom: 35px;
  }
}

@media (min-width: 1024px) {
  .article-container {
    margin-bottom: 20px; 
  }
}

body.light {
  background-color: #f1f1f1; 
  color: #000000;
}

body.dark  {
  background-color: #333333; 
  color: #ffffff;
}

.eportfolio {
  font-family: 'Poppins', sans-serif; 
  font-size: 3rem;
  font-weight: 700; 
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}