/* Container principal pour la page du parcours */
.parcours-page {
  position: relative;
  padding: 20px;
  border-radius: 15px;
  max-width: 1400px;
  margin: 0 auto;

  box-shadow: var(--article-container-box-shadow);
  background-color: var(--article-container-bg-color);
}

/* Titre principal de la section */
.parcours-title {
  font-size: 2.5rem;
  color: #0d6efd;
  margin-bottom: 30px;
}

/* Chrono customisé */
.chrono-icons {
  display: none; /* Masquer les icônes */
}

.chrono-timeline {
  width: 100%;
  margin-top: 20px;
}

.chrono-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 15px;
}

.chrono-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Titre dans la chronologie */
.chrono-title {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #0d6efd;
}

/* Sous-titres */
.chrono-subtitle {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #495057;
}

/* Description des événements */
.chrono-description {
  font-size: 0.9rem;
  line-height: 1.7;
  color: #212529;
}

/* Amélioration des tailles et des marges pour les appareils mobiles */
@media (max-width: 768px) {
  .parcours-page {
    padding: 20px;
  }

  .parcours-title {
    font-size: 2rem;
  }

  .chrono-card {
    padding: 10px;
  }

  .chrono-title {
    font-size: 1.2rem;
  }

  .chrono-description {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .parcours-page {
    padding: 15px;
  }

  .chrono-title {
    font-size: 1.2rem;
  }

  .chrono-description {
    font-size: 0.85rem;
  }
}
