.project-page {
  padding: 20px;
  max-width: 100%; /* Ajustement pour que la page prenne toute la largeur sur mobile */
  margin: 0 auto; /* Centre le contenu */
  box-shadow: var(--article-container-box-shadow);
  background-color: var(--article-container-bg-color);
}

.close-btn {
  font-size: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #333;
}

.project-title {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 30px;
  text-align: center;
}

.legend-container {
  justify-content: center;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur les petits écrans */
  gap: 20px;
  margin: 20px 0;
}

.legend-item {
  padding-top: 2%;
  display: flex;
  align-items: center;
}

.legend-color {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  width: 50px;
  height: 15px;
}

.legend-text {
  font-size: 1rem;
  color: #333;
}

#error-color {
  background-color: #FF6666;
}

#waiting-color {
  background-color: #FFCC66;
}

#complete-color {
  background-color: #66FF66;
}

/* Responsive styles */
@media (max-width: 768px) {
  .project-title {
    font-size: 2rem; /* Réduire la taille du titre sur des écrans plus petits */
  }
}

@media (max-width: 480px) {
  .close-btn {
    font-size: 1.8rem;
  }

  .project-title {
    font-size: 1.8rem; /* Réduction du titre sur petits écrans */
  }

  .legend-container {
    gap: 10px; /* Moins d'espace entre les éléments sur les écrans plus petits */
  }

  .legend-text {
    font-size: 0.85rem;
  }
}
