/* Styles du Header */
.custom-header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: linear-gradient(135deg, var(--header-bg-color), var(--header-bg-color-darker));
  box-shadow: 0 0 10px var(--shadow-color);
  backdrop-filter: blur(10px);
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

/* Styles pour la marque */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

/* Animation du logo */
.brand-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
}

/* Styles pour les liens */
.nav-link {
  font-size: 1.4rem;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--link-color);
}

.nav-link:hover {
  color: var(--link-hover-color);
  transform: translateY(-3px);
}

/* Styles pour les icônes */
.nav-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  display: inline;
}

/* Styles pour l'icône du menu */
.menu-icon {
  font-size: 2rem;
  color: var(--link-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-toggler {
  border: none;
  background: none;
  padding: 0;
}

.navbar-toggler.open .menu-icon {
  transform: rotate(90deg);
  color: var(--link-hover-color);
}

/* Styles pour le bouton de changement de thème */
.theme-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.theme-toggle-button {
  background-color: var(--slider-bg);
  border: 2px solid var(--slider-checked-bg);
  color: var(--slider-icon-color);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px var(--slider-checked-bg);
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  cursor: pointer;
}

.theme-toggle-button::after {
  content: '';
  z-index: -1;
  background-color: hsla(0, 0%, 55%, 0.105);
  position: absolute;
  top: -50%;
  bottom: -50%;
  width: 1.25em;
  transform: translate3d(-525%, 0, 0) rotate(35deg);
}

.theme-toggle-button:hover::after {
  transition: transform 0.45s ease-in-out;
  transform: translate3d(525%, 0, 0) rotate(35deg);
}


body.dark .custom-header {
  box-shadow: 0 0 25px var(--shadow-color);
  background: linear-gradient(135deg, var(--header-bg-color), var(--header-bg-color-darker));
}

body.dark .navbar-brand {
  color: var(--primary-color);
  text-shadow: 0 0 5px var(--neon-color-1);
}

body.dark .name {
  color: var(--link-color);
  text-shadow: 0 0 5px var(--neon-color-2);
}

 body.dark .name:first-letter{
  color: var(--primary-color);
  text-shadow: 0 0 20 var(--neon-color-1);
}


body.dark .nav-link {
  color: var(--link-color);
  text-shadow: 0 0 5px var(--neon-color-2);
}

.theme-toggle-button.light {
  background-color: var(--slider-bg);
  color: var(--slider-icon-color);
}

.theme-toggle-button.dark {
  background-color: var(--slider-bg);
  border: 2px solid var(--slider-checked-bg);
  color: var(--primary-color);
  box-shadow: 0 0 15px var(--neon-color-1);
}

