.custom-header {
  position: sticky;
  top: 0;
  z-index: 90; /* Ajustement du z-index */
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.navbar-brand .brand-icon {
  margin-right: 8px;
}

.nav-link {
  font-size: 1.2rem;
  margin: 0 10px;
  transition: color 0.3s ease;
  color: var(--link-color);
}

.nav-link:hover {
  color: var(--link-hover-color);
}

.menu-icon {
  font-size: 1.5rem;
  color: var(--link-color);
  transition: transform 0.3s ease;
}

/* Animation du hamburger menu */
.navbar-toggler {
  border: none;
  background: none;
  padding: 0;
}

.navbar-toggler.open .menu-icon {
  transform: rotate(90deg); /* Transforme l'icône en croix */
}

.theme-toggle {
  display: flex;
  align-items: center;
  position: relative;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--slider-bg);
  transition: 0.4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--slider-thumb-bg);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-checked-bg);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.theme-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--slider-icon-color);
}


.theme-icon.sun{
  left: 8px;
}

.theme-icon.moon{
  right: 8px;
}

/* Thèmes */
body.light {
  --header-bg-color: #f1f1f1;
  --primary-color: #333;
  --link-color: #333;
  --link-hover-color: #ffc107;
  --slider-bg: #ddd; /* Gris clair pour le fond du slider */
  --slider-checked-bg: #333; /* Noir pour le fond du slider quand activé */
  --slider-thumb-bg: #fff; /* Blanc pour le cercle */
  --slider-icon-color: #333; /* Noir pour l'icône */
}

body.dark {
  --header-bg-color: #333;
  --primary-color: #f1f1f1;
  --link-color: #f1f1f1;
  --link-hover-color: #ffc107;
  --slider-bg: #555; /* Gris foncé pour le fond du slider */
  --slider-checked-bg: #ddd; /* Gris clair pour le fond du slider quand activé */
  --slider-thumb-bg: #333; /* Gris foncé pour le cercle */
  --slider-icon-color: #fff; /* Blanc pour l'icône */
}
