/* Styles du Header */
.custom-header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: linear-gradient(135deg, var(--header-bg-color), var(--header-bg-color-darker));
  box-shadow: 0 0 15px var(--shadow-color); /* Réduit la taille de l'ombre par défaut */
  backdrop-filter: blur(15px);
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

/* Styles pour la marque */
.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  /* Retire text-shadow par défaut */
}

/* Animation du logo */
.brand-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
}

/* Styles pour les liens */
.nav-link {
  font-size: 1.4rem;
  margin: 0 20px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--link-color);
  /* Retire text-shadow par défaut */
}

.nav-link:hover {
  color: var(--link-hover-color);
  /* Retire text-shadow et transform par défaut */
  transform: translateY(-5px);
}

/* Styles pour les icônes */
.nav-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Styles pour l'icône du menu */
.menu-icon {
  font-size: 2rem;
  color: var(--link-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-toggler {
  border: none;
  background: none;
  padding: 0;
}

.navbar-toggler.open .menu-icon {
  transform: rotate(90deg);
  color: var(--neon-color-1);
}

/* Styles pour la barre de recherche */
.search-bar {
  margin: 0 20px;
}

.search-icon {
  color: var(--link-color);
}

/* Styles pour le bouton de changement de thème */
.theme-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.theme-toggle-button {
  background-color: var(--slider-bg);
  border: 2px solid var(--slider-checked-bg);
  color: var(--slider-icon-color);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px var(--neon-color-1); /* Réduit la taille de l'ombre par défaut */
}

/* Mode sombre */
body.dark .custom-header {
  box-shadow: 0 0 30px var(--shadow-color); /* Ombre plus grande en mode sombre */
}

body.dark .navbar-brand {
  text-shadow: 0 0 10px var(--neon-color-1); /* Ajoute l'effet de néon en mode sombre */
}

body.dark .nav-link {
  text-shadow: 0 0 10px var(--neon-color-2); /* Ajoute l'effet de néon en mode sombre */
}

body.dark .nav-link:hover {
  text-shadow: 0 0 20px var(--neon-color-2); /* Augmente l'effet de néon en mode sombre */
}

body.dark .theme-toggle-button {
  box-shadow: 0 0 15px var(--neon-color-1); /* Augmente l'effet de néon en mode sombre */
}
