.mode-buttons {
  margin-top: 10px;
}

.mode-buttons button {
  background-color: transparent;
  border: 2px solid;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-buttons button:hover {
  background-color: #ffffff;
  color: #000000;
}

.square {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 99;
  background-color: white;
  transition: width 0.5s ease-in-out;
  transform: translateX(100%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
}

.square.show {
  width: 98.5%;
  transform: translateX(0%);
}

.square.hide {
  width: 0%;
  transform: translateX(0%);
}

.square h1 {
  color: black;
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.square .content {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.6em;
}

.square .content p {
  margin-bottom: 10px;
}

.square .content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.square .content ul li {
  margin-bottom: 5px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2em;
  z-index: 100;
}

#closeButton:hover {
  background-color: #cc0000;
}


/*partie project*/
.square .project {
  margin-bottom: 20px;
  text-align: center;
}

.square .project h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.square .project p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}